<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Devourer</title>

   {{!-- jQuery minified --}}
   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>
   {{!-- Buttons functionality--}}
   <script src="js/script.js"></script>
   {{!-- CSS --}}
   <link rel="stylesheet" href="css/reset.css">
   <link rel="stylesheet" href="css/style.css">

</head>

<body>
   {{{ body }}}
</body>

</html>